In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/content/heart_failure_clinical_records_dataset.csv')
df.sample(3)

      age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
141  46.0        1                       291  ...        0   109            0
250  50.0        0                      2522  ...        0   214            0
226  58.0        1                        57  ...        1   205            0

[3 rows x 13 columns]

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [44]:
X_train, X_test, y_train, y_test = train_test_split(df[["age", "anaemia", "creatinine_phosphokinase", "diabetes", "ejection_fraction", "high_blood_pressure", "platelets", "serum_creatinine", "serum_sodium", "sex", "smoking"]].to_numpy(), df.DEATH_EVENT.to_numpy(), train_size = 0.8)

In [45]:
reg = LinearRegression().fit(X_train, y_train)
reg.score(X_train, y_train) # коэффициент детерминации
#Для линейной зависимости коэффициент детерминации равен квадрату коэффициента 
#корреляции rxy: R2 = rxy2 . Например, значение R2 = 0.28, означает, что в 28% 
#случаев изменения х приводят к изменению y . Другими словами, точность подбора уравнения регрессии - ниже средней.

0.2485462768255866

In [46]:
reg.score(X_test, reg.predict(X_test))

1.0

In [47]:
mean_squared_error(y_test, reg.predict(X_test), squared=False) # MSE

0.44797895521567466

In [48]:
pd.DataFrame.from_records(data=[list(y_test), list(reg.predict(X_test))])

         0         1         2   ...        57        58        59
0  1.000000  0.000000  1.000000  ...  0.000000  0.000000  0.000000
1  0.550227  0.349626  0.314086  ...  0.542559  0.207823  0.188573

[2 rows x 60 columns]